<<<<<<< HEAD
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: "Montserrat", sans-serif;
  color: black;
  font-weight: 600;
}

#myCanvas {
  border: 1px solid black;
  position: absolute;
  top: 0;
  opacity: 0.2;
}

.colors {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  cursor: pointer;
  color: white;
}
.changeColor {
  z-index: 20;
  width: 200px;
  height: 40px;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.chagneColor-red {
  background-color: red;
}
.chagneColor-blue {
  background-color: blue;
}
.chagneColor-green {
  background-color: green;
}
.chagneColor-yellow {
  background-color: yellow;
}
.chagneColor-purple {
  background-color: purple;
}

.map-below {
  width: 1500px;
  height: 1000px;
}

g {
  opacity: 0.4;
}

.draw {
  z-index: 20;
}
.undraw {
  z-index: 20;
}

.leaflet-popup .leaflet-popup-tip {
  display: none;
}
.leaflet-popup .leaflet-popup-content {
  font-size: 2rem;
  font-family: "Langar", cursive;
  background-color: transparent;
  color: white;
}

.leaflet-popup .leaflet-popup-content-wrapper {
  background-color: transparent;
  color: white;
  border-radius: 5px;
  box-shadow: none;
}

.input {
  background-color: transparent;
  color: white;
  font-family: "Langar", cursive;

  border: none;
  font-size: 5rem;
}
=======
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: "Montserrat", sans-serif;
  color: black;
  font-weight: 600;
}

#myCanvas {
  border: 1px solid black;
  position: absolute;
  top: 0;
  opacity: 0.2;
}

.colors {
  display: flex;
  width: 1100px;
  justify-content: center;
}
.changeColor {
  width: 200px;
  height: 200px;
}
.chagneColor-red {
  background-color: red;
}
.chagneColor-blue {
  background-color: blue;
}
.chagneColor-green {
  background-color: green;
}
.chagneColor-yellow {
  background-color: yellow;
}
.chagneColor-purple {
  background-color: purple;
}

.map-below {
  width: 1100px;
  height: 800px;
}

g {
  opacity: 0.5;
}
>>>>>>> 280a4899818be10fe1789c737593960041b65c89
